<div class="d-flex flex-column h-100">
    <!-- FOOTER -->
    <footer class="w-100 py-4 flex-shrink-0 mt-4">
        <div class="container py-4">
            <div class="row gy-4 gx-5">
                <div class="col-lg-4 col-md-6">
                    <h5 class="h1 text-white">
                        <img src="/img/logo.png" alt="" class="logo-header">
                        RP Accent
                    </h5>
                    <p class="small text-muted">Received Pronunciation is the accent traditionally regarded as the standard and most prestigious form of spoken British English</p>
                    <p class="small text-muted mb-0">&copy; Copyrights. All rights reserved. <a class="link-hover text-primary" href="#">RpEnglishAccent.com</a></p>
                </div>
                <div class="col-lg-2 col-md-6">
                    <h5 class="text-white mb-3">About me</h5>
                    <ul class="list-unstyled text-muted">
                        <li><a class="link-hover" href="#">Home</a></li>
                        <li><a class="link-hover" href="#">About</a></li>
                        <li><a class="link-hover" href="#">Get started</a></li>
                        <li><a class="link-hover" href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6">
                    <h5 class="text-white mb-3">Contact</h5>
                    <ul class="list-unstyled text-muted">
                        <li><a class="link-hover" href="#">Home</a></li>
                        <li><a class="link-hover" href="#">About</a></li>
                        <li><a class="link-hover" href="#">Get started</a></li>
                        <li><a class="link-hover" href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6">
                    <h5 class="text-white mb-3">Newsletter</h5>
                    <p class="small text-muted">You seem to be charmed by your Received Pronunciation (RP) accent</p>
                    <form action="#">
                        <div class="input-group mb-3">
                            <input class="form-control" type="email" placeholder="Enter your email..." aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="btn btn-primary" id="button-addon2" type="button"><i class="fas fa-paper-plane"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </footer>
</div>